In [3]:
def name_processor():
    # Prompt the user to enter names separated by commas
    names = input("Enter names separated by commas (e.g. Elsa,Bismark,Teddy): ")

    # Split the input into a list
    name_list = [name.strip() for name in names.split(",")]

    # Remove duplicates using a set
    unique_names = set(name_list)

    # Sort the names alphabetically
    sorted_names = sorted(unique_names)

    # Display the result
    print("Processed names:", sorted_names)

# Run the function
name_processor()

Enter names separated by commas (e.g. Elsa,Bismark,Teddy): gigi anna joan
Processed names: ['anna', 'gigi', 'joan']

In [6]:
2.	#What happens in this code?
#Python Code :

L1 = ['sun']
#L1 points to a list that contain "sun"
L2 = L1
#L2 is  alias to L1 and points to the list "sun"
L1 = ['moon']
#L1 is reassigned to a new list containing 'moon'
#It does not change L2 as L2 still holds the value for the original L1

print(L2) #outputs ['sun']

['sun']

In [7]:
# Step 1: Create a list of 10 names (with some duplicates)
names = ["Alice", "Brian", "Cynthia", "Alice", "Diana", "Ethan", "Brian", "Grace", "Helen", "Cynthia"]

# Step 2: Remove duplicates using a set
unique_names = set(names)

# Step 3: Sort alphabetically
sorted_names = sorted(unique_names)

# Step 4: Print the result
print("Sorted names:", sorted_names)

Sorted names: ['Alice', 'Brian', 'Cynthia', 'Diana', 'Ethan', 'Grace', 'Helen']