In [ ]:
# Challenge 1: Lambda Magic – Multiples of 3
# Problem:
# Write a lambda function that checks if a number is a multiple of 3.(10 Marks)

def is_result_palindrome(operation, number):
     result = operation(number)
     result_str = str(result)
     return result_str == result_str[::-1]

# Example: function that multiplies by 3
multiply_by_3 = lambda x: x * 3

#Example usage

number = int(input("Enter a number: "))
is_result_palindrome(multiply_by_3, number)

Enter a number: 121

True

In [ ]:
# Challenge 2: Using sum() and len() with Lists
# Problem A: Find the average of a list of numbers (10 marks)
# Function Signature:
def average(L):
  count = 0
    # your code here
  return(sum(L)/len(L))
L = [20,30,40,50,60]
print(average(L))

40.0

In [ ]:
# Challenge 3: Combine Lambda + List(10 Marks)
# Problem:
# Use filter() and a lambda to return all numbers divisible by 3 in a list.
def divisible_by_3(L):
  return list(filter(lambda x: x % 3 == 0, L))

L = [1, 2, 3, 4, 5, 6]
number = int(input("Enter a number: "))
print(divisible_by_3(L))

Enter a number: 123
[3, 6]

In [ ]:
# Challenge 4 (10 Marks)
# Task:
# Implement a function dot_product that does the following:
# NB:Copy the whole code and run the problem first(Task on””” tA & tB”””)

def dot_product(tA, tB):
    """
    tA: a tuple of numbers
    tB: a tuple of numbers of the same length as tA
    Returns a tuple (length, dot product of tA and tB)
    """
    total = 0
    for i in range(len(tA)):
        total += tA[i] * tB[i]
    return (len(tA), total)

# Example:
print(dot_product((1, 2, 3), (4, 5, 6)))  # ➜ (3, 32)

(3, 32)